@import "../../node_modules/bootstrap/scss/functions";

// Default variable overrides
$primary: #293E40 ;
$secondary: #5F716D;
// $success: ;
$info: #402F39;
// $warning: ;
// $danger: ;
$light: #D6D8C9;
$dark: #293E40;

@import "../../node_modules/bootstrap/scss/bootstrap";
// @import "bootstrap/scss/variables";
// @import "bootstrap/scss/utilities";

$utilities: map-merge(
  $utilities,
  (
    "width": (
      property: width,
      class: w,
      values: (
        25: 25%,
        35: 35%,
        45: 45%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto
      )
    )
  )
);