// Default variable overrides
// $primary: #293e40;
$primary: #132B33;
$secondary: #5f716d;
// $success: ;
// $info: #402f39;
$info: #74B4BD;
// $warning: ;
$danger: #900;
$light: #d6d8c9;
$dark: #222222;

//custom
$light-faded: #f2f3ee;
$secondary-faded: #b6bebc;
$primary-translucent: rgba(41, 62, 64, 0.6);
$secondary-translucent: rgba(182, 190, 186, 0.6);
// $primary-text-emphasis-dark: $primary;
// $secondary-text-emphasis-dark: $primary;
// $success-text-emphasis-dark: $primary;
// $info-text-emphasis-dark: $primary;
// $warning-text-emphasis-dark: $primary;
// $danger-text-emphasis-dark: $primary;
// $light-text-emphasis-dark: $primary;
// $dark-text-emphasis-dark: $primary;
// $primary-bg-subtle-dark: $primary;
// $secondary-bg-subtle-dark: $primary;

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/_variables-dark.scss";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";




// @import "../components/SplitHero/"
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

$utilities: map-merge($utilities,
    ("width": (property: width,
        class: w,
        values: (20: 20%,
          25: 25%,
          35: 35%,
          30: 30%,
          45: 45%,
          50: 50%,
          60: 60%,
          70: 70%,
          75: 75%,
          80: 80%,
          85: 85%,
          90: 90%,
          100: 100%,
          auto: auto,
        ),
      ),
      "height": (property: height,
        class: h,
        values: (10: 10%,
          25: 25%,
          30: 30%,
          40: 40%,
          50: 50%,
          60: 60%,
          70: 70%,
          75: 75%,
          80: 80%,
          90: 90%,
          100: 100%,
          auto: auto,
        ),
      ),
      "viewport-height": (property: height,
        class: vh,
        values: (10: 10vh,
          25: 25vh,
          50: 50vh,
          60: 60vh,
          75: 75vh,
          80: 80vh,
          90: 90vh,
          100: 100vh,
        ),
      ),
      "min-viewport-height": (property: min-height,
        class: min-vh,
        values: (50: 50vh,
          60: 60vh,
          70: 70vh,
          80: 80vh,
          90: 90vh,
          100: 100vh,
        ),
      ),
      "background-color": (property: background-color,
        class: bg,
        values: map-merge($theme-colors,
          ("light-faded": $light-faded,
            "secondary-faded": $secondary-faded,
          )),
      ),
    ));

// Enable responsive classes for width, height, viewport-height,viewport-width:
$utilities: map-merge($utilities,
    ("width": map-merge(map-get($utilities, "width"), (responsive: true)),
      "viewport-height": map-merge(map-get($utilities, "viewport-height"), (responsive: true)),
      "min-viewport-height": map-merge(map-get($utilities, "min-viewport-height"), (responsive: true)),
      "height": map-merge(map-get($utilities, "height"), (responsive: true)),
      "viewport-width": map-merge(map-get($utilities, "viewport-width"), (responsive: true)),
      "display": map-merge(map-get($utilities, "display"), (responsive: true)),
    ));
//$utilities: map-merge($utilities, ("viewport-height": map-merge(map-get($utilities, "viewport-height"), (responsive: true), ), ));
// $utilities: map-merge($utilities, ("height": map-merge(map-get($utilities, "height"), (responsive: true), ), ));
// $utilities: map-merge($utilities, ("viewport-width": map-merge(map-get($utilities, "viewport-width"), (responsive: true), ), ));

$custom-theme-colors: (
  "light-faded": $light-faded,
);

$pagination-hover-bg: $secondary-faded;


// Merge the maps
//$theme-colors: map-merge($theme-colors, $custom-colors);
$theme-colors: map-merge($theme-colors, $custom-theme-colors);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
$utilities-colors: map-merge($utilities-colors, $theme-colors-rgb);
$utilities-text-colors: map-loop($utilities-colors, rgba-css-var, "$key", "text");
$utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg");


@include media-breakpoint-only(xl) {
  .display-heading-xl {
    font-size: 2.0rem !important;
  }

}

@include media-breakpoint-only(lg) {
  .display-heading-xl {
    font-size: 1.8rem !important;
  }

}

@import "bootstrap";