body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-logo {
    margin-right: 20px;
  }

  /* .full-width {
    width: 100vw;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    overflow-x: hidden !important;
  } */

  .full-page-hero {
    width: 100vw;
    max-width: 100%;
    height: 90vh;
    /* position: absolute; */
    /* z-index: -3; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    color: white;
    /* border: 2px solid sienna; */
    
  }

  .hero-triangle-container {
    position: absolute;
    z-index: 2;
    width: 100vw;
    max-width: 100%;
    height: 90vh;
    overflow: hidden;
    /* border: 2px solid rebeccapurple; */
  }

.hero-triangle {
  position: absolute;
  z-index: 2;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 100vw 55vh 0;
  border-color: transparent #293e40 transparent transparent;
  line-height: 0px;
  _border-color: #000000 #293e40 #000000 #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
  }

  .hero-overlay {
    width: 100vw;
    max-width: 100%;
    height: 90vh;
    position: absolute;
    z-index: 1;
    background: #424143;
    opacity: 0.3;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    z-index: 3;
    height: 100%;
    width: 35%;
    margin-left: 25px;
    /* border: 2px solid red; */
  }

.hero-text{
    margin: 15px;
  }

  .hero-triangle-content-row {
    position: absolute;
    z-index: 5;
    display: flex;
    width: 100%;
    /* max-width: 100%; */
    height: 50vh;
    justify-content: flex-end;
    align-items: center;
     
    color: white;
    /* border: 2px solid blueviolet; */
  }

  
.hero-triangle-content {
    display: flex;
    /* position: absolute; */
    z-index: 5;
    width: 50%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    margin-right: 25px; 
    /* border: 2px solid springgreen; */
}

.hero-triangle-title {
    width: 40%;
}

.hero-triangle-logo {
    width: 50%;
    margin-right: 90px;
}
  
  .triangle-banner {
    width: 100vw;
    max-width: 100%;
    height: 50vh;
  }

  .banner-triangle-container {
    position: absolute;
    z-index: 2;
    width: 100vw;
    max-width: 100%;
    height: 50vh;
    overflow: hidden;
  }

  .banner-triangle {
    position: absolute;
    z-index: 2;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 100vw 50vh 0;
    border-color: transparent white transparent transparent;
    line-height: 0px;
    _border-color: #000000 white #000000 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    }

  .triangle-banner-content {
    position: absolute;
    z-index: 3;   
  }

  .large-feature-card-img {
    width: 120px;
    height: 120px;
    background: #293E40;
    padding: 20px;
  }

  .small-feature-card-img {
    width: 80px;
    height: 80px;
    background: #293E40;
    padding: 20px;
  }

  .stats-feature-card-img {
    width: 120px;
    height: 120px;
    background: white;
    padding: 20px;
  }
  
  .testimonial-card-img {
    width: 50px !important;
    height: 50px !important;
  }
  
  /* .item {
    width: 100%;
  } */

 .testing-border {
    border: 2px solid magenta;
  }

  .testing-border2 {
    border: 2px solid cyan;
  }

  .testing-border3 {
    border: 2px solid royalblue;
  }

  .scalene-hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* clip-path: polygon(0 0, 0% 85%, 100% 100%); */
    clip-path: polygon(0 0, 35% 0, 100% 100%, 0 100%);
    background-attachment: fixed;
  }

  .scalene-logo {
    width: 50px;
    height: 50px;;
  }

.overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3);
  /* clip-path: polygon(0 0, 0% 85%, 100% 100%); */
  clip-path: polygon(0 0, 35% 0, 100% 100%, 0 100%);
  z-index: 2;
}

.slanted-banner-img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  clip-path: polygon(0 0, 45% 0, 100% 100%, 0 100%);
  background: #293E40;
}

.banner-right-content {
  width: 35vw;
}

/* .slant {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%);
} */

  /* .scalene-hero-content {
    position: absolute;
    z-index: 3;
  } */

  .z-index-1 {
    position: absolute;
    z-index: 1;
  }

  .z-index-2 {
    position: absolute;
    z-index: 2;
  }

  .z-index-3 {
    position: absolute;
    z-index: 3;
  }

  /* .owl-dots {
    background: #293e40 !important;
  } */

  .client-logo-box {
    display: flex;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
  }