/****************LARGER PHONES (MIN: 300px, MAX: 767px)**********************/

@media only screen and (min-width: 300px) and (max-width: 767px) {
  .logo {
    height: 90px;
  }

  .hero-content {
    justify-content: flex-end;
    align-self: flex-start;
    height: 100%;
    width: 65%;
    margin-left: 25px;
  }

  .hero-triangle {
    border-width: 0 100vw 60vh 0;
  }

  .hero-triangle-content {
    width: 70%;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 25px;
    justify-content: space-around;
    align-items: flex-end;
  }

  .hero-triangle-logo {
    margin-right: 0px;
    margin-bottom: 25px;
  }

  .hero-left-content-mobile {
    height: 70vh;
  }

  .banner-right-content {
    height: 50vh;
    width: 50%;
  }

  .right-scalene-hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 70%, 100% 0);
  }

  .right-triangle-hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 70%, 100% 0);
  }

  .right-overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    clip-path: polygon(0 0, 100% 70%, 100% 0);
    z-index: 2;
  }

  .slanted-banner-img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    background: #293e40;
  }

  .hero-description {
    font-size: 1em;
  }

  /* .logo-box {
    margin-top: ;
  } */

  .hero-container {
    background: #5f716d;
  }

  .hero-main-content {
    background: transparent;
  }

  #login-card {
    width: 100% !important;
  }
}